Xft.dpi:                    96
Xft.antialias:              true
Xft.rgba:                   rgb
Xft.hinting:                true
Xft.hintstyle: hintslight

! special
*.foreground:   #b4c1c2
*.background:   #0d0015
*.cursorColor:  #b4c1c2

! black
*.color0:       #0d0015
*.color8:       #153043

! red
*.color1:       #ac1e33
*.color9:       #ac1e33

! green
*.color2:       #247345
*.color10:      #247345

! yellow
*.color3:       #797724
*.color11:      #797724

! blue
*.color4:       #174b58
*.color12:      #174b58

! magenta
*.color5:       #4d3a58
*.color13:      #4d3a58

! cyan
*.color6:       #376e57
*.color14:      #376e57

! white
*.color7:       #48737a
*.color15:      #b4c1c2

! grey scale
*.color16:      #0d0015
*.color17:      #0f192e
*.color18:      #153043
*.color19:      #174b58
*.color20:      #2f6065
*.color21:      #48737a
*.color22:      #9db0b1
*.color23:      #b4c1c2

!*.font: terminus:size=8:antialias=true:autohint=true;
*.font: xft:terminus:size=8
*.boldfont: xft:terminus:size=8:style=bold


! URxvt settings
URxvt*scrollBar: false
URxvt*internalBorder: 4
!URxvt*externalBorder: 2 
!URxvt.geometry:84x30
! color depth for transparency support
URxvt.depth: 32
! do not scroll with output
URxvt*scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true
!URxvt.perl-ext-common: keyboard-select
!URxvt.keysym.M-Escape: perl:keyboard-select:activate
!URxvt.keyboard-select.clipboard: true




st.font:			-*-terminus-*-*-*-*-10-*-*-*-*-*-*-1
!st.font:    xtf:terminus:size8
st.bold_font:	0
st.termname:	st-256color
st.shell:		/bin/zsh
st.bellvolume:	100
st.tabspaces:   4
st.chscale:		1.0
st.borderpx:    2



st.foreground:   #48737a
st.background:   #0d0015
st.cursorColor:  #b4c1c2

! black
st.color0:       #0d0015
st.color8:       #153043
                       
! red
st.color1:       #ac1e33
st.color9:       #ac1e33

! green
st.color2:       #247345
st.color10:      #247345
                       
! yellow
st.color3:       #797724
st.color11:      #797724
                       
! blue
st.color4:       #174b58
st.color12:      #174b58
                       
! magenta
st.color5:       #4d3a58
st.color13:      #4d3a58
                       
! cyan
st.color6:       #376e57
st.color14:      #376e57
                       
! white
st.color7:       #48737a
st.color15:      #b4c1c2
                       
! grey scale
st.color16:      #0d0015
st.color17:      #0f192e
st.color18:      #153043
st.color19:      #174b58
st.color20:      #2f6065
st.color21:      #48737a
st.color22:      #9db0b1
st.color23:      #b4c1c2
