Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight

*.font:		terminus:size=8
! special
*.foreground:   #b4c1c2
*.background:   #050b15
*.cursorColor:  #b4c1c2

! black
*.color0:       #0b1528
*.color8:       #101E39

! red
*.color1:       #ac1e33
*.color9:       #de263e

! green
*.color2:       #247345
*.color10:      #33a667

! yellow
*.color3:       #797724
*.color11:      #abab30

! blue
*.color4:       #174b58
*.color12:      #20778c

! magenta
*.color5:       #4d3a58
*.color13:      #77578c

! cyan
*.color6:       #376e57
*.color14:      #50a178

! white
*.color7:       #7d8c9a
*.color15:      #b4c1c2

XLock.font:         -*-terminus-*-*-*-*-*-*-*-*-*-*-*-*
XLock.planfont:     -*-terminus-*-*-*-*-*-*-*-*-*-*-*-*
XLock.fontset:      -*-terminus-*-*-*-*-*-*-*-*-*-*-*-*
XLock.planfontset:  -*-terminus-*-*-*-*-*-*-*-*-*-*-*-*
XLock.messagefont:  -*-terminus-*-*-*-*-*-*-*-*-*-*-*-*
XLock.mode:         blank

!st.font:		-*-terminus-*-*-*-*-*-*-*-*-*-*-*-*
!st.bold_font:	0
!st.termname:	st-256color
!st.shell:		/bin/zsh
!st.bellvolume:	100
st.tabspaces:   4
st.chscale:		1.0
st.borderpx:    4
st.disablebold: 0

dmenu.foreground: #7d8c9a
dmenu.background: #0b1528

dmenu.selforeground: #b4c1c2
dmenu.selbackground: #101E39

dmenu.outforeground: #0b1528
dmenu.outbackground: #b4c1c2

dmenu.promptforeground: #b4c1c2
dmenu.promptbackground: #0b1528
dmenu.prompt:

dmenu.inputforeground: #b4c1c2
dmenu.inputbackground: #0b1528

dmenu.border_color: #7d8c9a
dmenu.border_width: 1

dmenu.censor: *

dmenu.font: terminus:size=8

dmenu.x: 0.5
dmenu.y: 32
dmenu.center_x: 1
dmenu.center_y: 0

dmenu.cols: 48
dmenu.lines: 8
