Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight

! this is a test
!
! special
*.foreground:   #b4c1c2
*.background:   #0d0015
*.cursorColor:  #b4c1c2

! black
*.color0:       #0d0015
*.color8:       #0f192e

! red
*.color1:       #ac1e33
*.color9:       #de263e

! green
*.color2:       #247345
*.color10:      #33a667

! yellow
*.color3:       #797724
*.color11:      #abab30

! blue
*.color4:       #174b58
*.color12:      #20778c

! magenta
*.color5:       #4d3a58
*.color13:      #77578c

! cyan
*.color6:       #376e57
*.color14:      #50a178

! white
*.color7:       #48737a
*.color15:      #b4c1c2

! grey scale
*.color16:      #0d0015
*.color17:      #0f192e
*.color18:      #153043
*.color19:      #174b58
*.color20:      #2f6065
*.color21:      #48737a
*.color22:      #9db0b1
*.color23:      #b4c1c2

*.font:         xft:terminus:size=8
*.boldfont:     xft:terminus:size=8:style=bold


! URxvt settings
URxvt*scrollBar: false
URxvt*internalBorder: 4
!URxvt*externalBorder: 2 
!URxvt.geometry:84x30
! color depth for transparency support
URxvt.depth: 32
! do not scroll with output
URxvt*scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

st.font:			-*-terminus-*-*-*-*-11-*-*-*-*-*-*-1
!st.font:    xtf:terminus:size8
st.bold_font:	0
st.termname:	st-256color
st.shell:		/bin/zsh
st.bellvolume:	100
st.tabspaces:   4
st.chscale:		1.0
st.borderpx:    4

